*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #fbf6eaea;
    z-index: 1;
}
header p {
    font-weight: bold;
}
#h {
    padding-left: 14vw;
    padding-right: 4vw;
    font-family: 'Courgette'
}
#user {
    height: 7vh;
    width: 3.5vw;
    background-color: #C87B5E;
    border-radius: 5vw;
}
#user p {
    text-align: center;
    padding-top: 2.3vh;
    color: white;
}
#first {
    width: 100vw;
    height: 100vh;
    background-image: url("img/6db875f7a0c99d38a90c57c532b4c455.jpg");
    background-size: cover;
}
#textinfirst {
    position: relative;
    left: 30%;
    top: 27vh;
    font-size: 18px;
    width: 20vw;
}
#textinfirst h1 {
    padding: 5vh 0px;
    font-size: 42px;
}
#textinfirst button{
    background-color: #D37657;
    border-radius: 0.3em;
    border: none;
    color: white;
    width: 15.5em;
    height: 8vh;
    font-size: 16px;
    margin: 8vh 0px;
    cursor: pointer;
}
#textbutton {
    cursor: pointer;
}
#second {
    height: 30vh;
    background-color: #F5F1E9;
    width: 100vw;
}
#second h2 {
    text-align: center;
    padding: 6vh 0px;
    font-weight:900;
}
#logo {
    display: flex;
    justify-content: center;
}
#logo img {
    padding: 0px 3.5vw;
}
#welcome {
    width: 100vw;
    height: 40vh;
    background-color: #FCFAF6;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: left;
    font-size: 18px;
}
#welcome h1 {
    text-align: center;
    font-weight: bolder;
    padding-left: 10vw;
}
#biger {
    width: 100vw;
    height: 120vh;
    background-color: #FBF6EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#biger h1 {
    font-size: 40px;
    margin: 5vh 0px;
    text-align: center;
}
#biger img {
    padding: 5vh 4vw;
}
#colors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
}
.color {
    height: 6vh;
    width: 3vw;
    border-radius: 50%;

}
#shop {
    width: 100vw;
    height: 120vh;
    background-color: #FCFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}
#shopimg {
    display: flex;
    justify-content: space-between;
    line-height: 3vh;
}
.shophandp {
    padding: 6vh 0em;
}
#shopimg h3 {
    margin: 4vh 2vw;
}
.shopingdiv {
    padding: 0em 3vw;
}
.price {
    margin: 2vh 1vw;
}
.colors {
    display: flex;
    padding: 0em 1vw;
}
#shopselectcolor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding: 5vh 0vw 0.5vw 5vh;
}
#color11 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #E09D81;
    border:#E09D81 0.2vw solid;
    margin: 0em 0.5vw;
}
#color12 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #CDC7B3;
    border:#CDC7B3 0.2vw solid;
    margin: 0em 0.5vw;
}
#color13 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #595752;
    border:#595752 0.2vw solid;
    margin: 0em 0.5vw;
}
#color21 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #CCBD9E;
    border:#CCBD9E 0.2vw solid;
    margin: 0em 0.5vw;
}
#color22 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #B55900;
    border:#B55900 0.2vw solid;
    margin: 0em 0.5vw;
}
#color23 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #5B653B;
    border:#5B653B 0.2vw solid;
    margin: 0em 0.5vw;
}
#color24 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #FFFFFF;
    border:rgba(110, 99, 90, 0.3) 0.2vw solid;
    margin: 0em 0.5vw;
}
#color31 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #E09D81;
    border:#E09D81 0.2vw solid;
    margin: 0em 0.5vw;
}
#color32 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #CDC7B3;
    border:#CDC7B3 0.2vw solid;
    margin: 0em 0.5vw;
}
#color33 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #595752;
    border:#595752 0.2vw solid;
    margin: 0em 0.5vw;
}
#color42 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #748EA1;
    border:#748EA1 0.2vw solid;
    margin: 0em 0.5vw;
}
#color44 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #7D836E;
    border:#7D836E 0.2vw solid;
    margin: 0em 0.5vw;
}
#color45 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #C33636;
    border:#C33636 0.2vw solid;
    margin: 0em 0.5vw;
}

#color48 {
    width: 2vw;
    height: 4vh;
    border-radius: 1.1vw;
    background-color: #D3C2CA;
    border:#D3C2CA 0.2vw solid;
    margin: 0em 0.5vw;
}

#color11:hover,#color12:hover,#color13:hover,#color21:hover,#color22:hover,#color23:hover,#color24:hover,#color31:hover,#color32:hover,#color33:hover,#color42:hover,#color44:hover,#color45:hover,#color48:hover{
    border:#18a0fb 0.2vw solid;
}
#images {
    height: 60vh;
}
#osobyblya {
    position: relative;
    top: 4vw;
}

.backimg {
    background-color: #F7F3EB;
    width: 18vw;
    height: 35vh;
    border-radius: 9vw;
}
#info {
    height: 75vh;
    background-color:#6C674D;
}
#end {
    height: 10vh;
    background-color:#807C62;
}