*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fbf6eaea;
    z-index: 2;
}
header p {
    font-weight: bold;
}
#h {
    padding-left: 14.5em;
    padding-right: 3.5em;
    font-family: 'Courgette'
}
#user {
    height: 3.5em;
    width: 3.5em;
    background-color: #C87B5E;
    border-radius: 50%;
}
#user p {
    text-align: center;
    padding-top: 1.2em;
    color: white;
}
#first {
    width: 100%;
    height: 46.4em;
    background-image: url("img/6db875f7a0c99d38a90c57c532b4c455.jpg");
    background-size: cover;
}
#textinfirst {
    position: relative;
    left: 25%;
    top: 25%;
    font-size: 18px;
    width: 18em;
}
#textinfirst h1 {
    padding: 1em 0px;
    font-size: 42px;
}
#textinfirst button{
    background-color: #D37657;
    border-radius: 0.3em;
    border: none;
    color: white;
    width: 15.5em;
    height: 3.75em;
    font-size: 16px;
    margin: 4.3em 0px;
    cursor: pointer;
}
#textbutton {
    cursor: pointer;
}
#second {
    height: 14em;
    background-color: #F5F1E9;
    width: 100%;
}
#second h2 {
    text-align: center;
    padding: 2em 0px;
    font-weight:900;
}
#logo {
    display: flex;
    justify-content: center;
}
#logo img {
    padding: 0px 3.5em;
}
#welcome {
    width: 100%;
    height: 16.5em;
    background-color: #FCFAF6;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: left;
    font-size: 18px;
}
#welcome h1 {
    text-align: center;
    font-weight: bolder;
    padding-left: 7em ;
}
#biger {
    width: 100%;
    height: 64em;
    background-color: #FBF6EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#biger h1 {
    font-size: 40px;
    margin: 0.75em 0px;
    text-align: center;
}
#biger img {
    padding: 3.5em;
}
#colors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 43em;
}
.color {
    height: 3em;
    width: 3em;
    border-radius: 50%;

}
#shop {
    width: 100%;
    height: 57em;
    background-color: #FCFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}
#shopimg {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
}
.shophandp {
    padding: 3em 0em;
}
#shopimg h3 {
    margin: 2em;
}
.shopingdiv {
    padding: 0em 3em;
}
.price {
    margin: 1em;
}
.colors {
    display: flex;
    padding: 0em 1em;
}
#shopselectcolor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding: 2em 0em 0.5em 3.5em;
}
#color11 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #E09D81;
    border:#E09D81 0.2em solid;
    margin: 0em 0.5em;
}
#color12 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #CDC7B3;
    border:#CDC7B3 0.2em solid;
    margin: 0em 0.5em;
}
#color13 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #595752;
    border:#595752 0.2em solid;
    margin: 0em 0.5em;
}
#color21 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #CCBD9E;
    border:#CCBD9E 0.2em solid;
    margin: 0em 0.5em;
}
#color22 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #B55900;
    border:#B55900 0.2em solid;
    margin: 0em 0.5em;
}
#color23 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #5B653B;
    border:#5B653B 0.2em solid;
    margin: 0em 0.5em;
}
#color24 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #FFFFFF;
    border:rgba(110, 99, 90, 0.3) 0.2em solid;
    margin: 0em 0.5em;
}
#color31 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #E09D81;
    border:#E09D81 0.2em solid;
    margin: 0em 0.5em;
}
#color32 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #CDC7B3;
    border:#CDC7B3 0.2em solid;
    margin: 0em 0.5em;
}
#color33 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #595752;
    border:#595752 0.2em solid;
    margin: 0em 0.5em;
}
#color42 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #748EA1;
    border:#748EA1 0.2em solid;
    margin: 0em 0.5em;
}
#color44 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #7D836E;
    border:#7D836E 0.2em solid;
    margin: 0em 0.5em;
}
#color45 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #C33636;
    border:#C33636 0.2em solid;
    margin: 0em 0.5em;
}

#color48 {
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-color: #D3C2CA;
    border:#D3C2CA 0.2em solid;
    margin: 0em 0.5em;
}

#color11:hover,#color12:hover,#color13:hover,#color21:hover,#color22:hover,#color23:hover,#color24:hover,#color31:hover,#color32:hover,#color33:hover,#color42:hover,#color44:hover,#color45:hover,#color48:hover{
    border:#18a0fb 0.2em solid;
}
#images {
    height: 36em;
}
#osobyblya {
    position: relative;
    top: 4em;
}

.backimg {
    background-color: #F7F3EB;
    width: 18em;
    height: 18em;
    border-radius: 9em;
}
#info {
    height: 43em;
    background-color:#6C674D;
}
#end {
    height: 5em;
    background-color:#807C62;
}